// Specific CSS for your home-page
@import "components/banner";
@import "components/footer";

.search-bar {

  position: relative;
  width: 30%;
  margin-top: 100px;
  margin-left: 80px;
 
}

.search-bar .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 29px;
  border-color: #70A37F;
  background-image: linear-gradient(rgb(39, 48, 71), rgb(84, 95, 121));
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.form-control {
  height: 50px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid rgb(39, 48, 71);
  border-radius: 29px;  
  background-color: whitesmoke;
  border-radius: 29px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h2 {
  margin: 0;
  color: rgb(84, 95, 121);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin: 0;
  color: rgb(84, 95, 121);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.search-bar {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.container {
  justify-content: center;
  margin: auto;
}

#buy-sell-card {
  &:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    text-decoration: none;
  }
}

.guide-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-top: 20px;
}

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-body {
  text-decoration: none;
  color: rgb(84, 95, 121);
  font-size: 18px;
  margin-top: 10px;
}

