
.properties_container {
    display: flex;
    align-items: center;
}


.properties_container h2 {
    color:blue;
}

.favorites_container {
    display: flex;
    align-items: center;
}


.favorites_container h2 {
    color:blue;
}

#title {
    color: blue;
}

body {
    background-image: linear-gradient(rgb(240, 238, 238),rgb(255, 255, 255) );
}

.boolean {
    display: inline-block;
}


.link {
    display:inline-block;
    margin-inline: 173px;
}
  
li {
    list-style-type: none; 
