
.properties_container {
    display: flex;
    align-items: center;
}


.properties_container h2 {
    color:blue;
}

.favorites_container {
    display: flex;
    align-items: center;
}


.favorites_container h2 {
    color:blue;
}

#title {
    color: blue;
}

body {
 background-color: whitesmoke;
}