<div class="user_forms_container">
  <div class='row justify-content-center'>
    <div class="col-6"> 
      <div>
        <p>Tax History Timeline</p>
        <%= line_chart @property.tax_histories.to_line_chart, defer: true%>
      </div>
    </div>
    <%# <%= link_to 'Update Values' edit_property_tax_history_path%>
  </div>
</div>