.flex-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}


.user_forms_container {
    width: 50%;  
    margin: 0 auto;                         
    padding: 30px;                             
    border-radius: 12px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    background: white;                                                      
}

.show-properties-container {
    width: 50%;  
    margin: 0 auto;
    background: white;                                                      
    border-radius: 12px;                        
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.property-facts-container h5 {
    text-decoration: none;
}

.property-facts-container h6 {
    text-decoration: none;
}