  
.search-bar-properties{
    width: 19%;
}

.search-bar-properties .btn-ghost{
    margin-left: 380px;
    margin-top: -64px;
}

.search-bar-properties h3 {
    font-weight: 300;
}

.flex-container{
    margin-left: 20px;
}