.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  #map {
    width: 60%; 
    height: 400px; 
    margin-top: 0px; 
    margin-bottom: 20px;
  }