@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap'); skinnier font

.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(84, 95, 121);
  font-weight:bolder;
  margin-right: 5px;
  margin-left: 5px;
 

  &:hover {
    color: black;
    font-weight: 700;
  }
}

.logos {
  display: flex;
  align-items: center;
  justify-content:left;
}

#logo {
  font-family: 'Cinzel Decorative', cursive;
  color: #1BB580;
  // color: #006AFF; Zillow blue
}
.fas{
  color: #1BB580;
}