.navbar-lewagon {
  justify-content: space-between;
  background: rgb(58, 58, 58);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  font-weight:bolder;
  margin-right: 5px;
  margin-left: 5px;
 

  &:hover {
    color: white;
    font-weight: 700;
  }
}