.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(black, rgb(39, 47, 53));
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  font-weight:bolder;
  margin-right: 5px;
  margin-left: 5px;
 

  &:hover {
    color: white;
    font-weight: 700;
  }
}